<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Fovea</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.raingiving.fovea</string>
	<key>CFBundleIconFile</key>
	<string>Fovea.icns</string>
	<key>CFBundleName</key>
	<string>Fovea</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image Files</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>com.microsoft.bmp</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>org.webmproject.webp</string>
				<string>public.avif</string>
				<string>public.svg-image</string>
				<string>public.jpeg-2000</string>
				<string>public.jpeg-xl</string>
				<string>com.microsoft.ico</string>
				<string>com.truevision.tga-image</string>
				<string>com.ilm.openexr-image</string>
				<string>public.radiance</string>
				<string>com.apple.icns</string>
				<string>public.pbm</string>
				<string>com.microsoft.dds</string>
				<string>com.sgi.sgi-image</string>
				<string>public.heics</string>
				<string>public.avci</string>
				<string>public.mpo-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Camera RAW and Layered Images</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.photoshop-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.canon.crw-raw-image</string>
				<string>com.nikon.raw-image</string>
				<string>com.nikon.nrw-raw-image</string>
				<string>com.nikon.nefx-raw-image</string>
				<string>com.sony.arw-raw-image</string>
				<string>com.sony.raw-image</string>
				<string>com.sony.sr2-raw-image</string>
				<string>com.fuji.raw-image</string>
				<string>com.olympus.raw-image</string>
				<string>com.olympus.or-raw-image</string>
				<string>com.olympus.sr-raw-image</string>
				<string>com.panasonic.raw-image</string>
				<string>com.panasonic.rw2-raw-image</string>
				<string>com.pentax.raw-image</string>
				<string>com.samsung.raw-image</string>
				<string>com.epson.raw-image</string>
				<string>com.kodak.raw-image</string>
				<string>com.konicaminolta.raw-image</string>
				<string>com.leafamerica.raw-image</string>
				<string>com.leica.raw-image</string>
				<string>com.leica.rwl-raw-image</string>
				<string>com.phaseone.raw-image</string>
				<string>com.hasselblad.3fr-raw-image</string>
				<string>com.hasselblad.fff-raw-image</string>
				<string>com.dxo.raw-image</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
